body {
    color:yellowgreen;
}

.navbar {
    padding 1rem;
    background-color: blue;
  }

  
  .btn-primary:hover {
    background-color: red;
    color: white;
  }

/* Footer */
.footer{
  background:#303036;
  color: #d3d3d3;
  height: 400px;
}

